body, html {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    margin: 0px;
}

body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;
}
h1{
    text-align: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
    text-align: center;
    font-size: 20px;
}

.user-numbers{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}


.info-panel {
    display: flex;
    column-gap: 50px;
    justify-content: center;
}

.powerball-logo{
    width: 250px;
    margin-top: 20px;
}

.bank-button{
    border: thin solid rgba(0, 0, 0, 0.849);
    border-radius: 10px;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: rgb(37, 37, 37);
    margin-left: 25px;
    background-color: rgba(59, 255, 59, 0.705);
    transition: all 0.3s ease-in-out;
}

.bank-button:hover, .play-button:hover, .play-multiple-button:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.user-numbers-heading{
    font-size: 24px;
    margin-top: 50px;

}
.numcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
}
.usernumber{
    background-color: bisque;
}
.user-number-powerball{
    background-color: lightcoral;
}
.usernumber, .user-number-powerball {
    width: 50px;
    border: thin solid gray;
    border-radius: 50%;
    height: 50px;
}


.play-button, .play-multiple-button{
    border: thin solid rgba(0, 0, 0, 0.849);
    border-radius: 10px;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: rgb(37, 37, 37);
    background-color: gold;
    transition: all 0.3s ease-in-out;
}

.game-container{
    display: flex;
    align-items: flex-start;
    column-gap: 100px;
    flex-wrap: wrap;
}

.right-side-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.current-game-info-heading{
    font-size: 24px;
    margin-bottom: 0px;
}

.current-info-container, .info-panel{
    width: 600px;
}
.play-button-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
/*table settings*/
.wins-chart, .stats{
width: 100%;
border-collapse: collapse;
border: thin solid gray;
font-family: 'Raleway', sans-serif;
}
td{
    padding: 3px 10px;
    letter-spacing: 1px;
    border: thin solid gray;

}
th {
    letter-spacing: 2px;
    padding: 8px;
  }



/*Media Queiries*/
@media screen {
    @media(max-width: 1150px){
        .right-side-container{
            justify-content: flex-start;
        }
        .current-info-container{
            height: 100px;
        }
        .game-container{
            justify-content: center;
        }
        .info-screen{
            text-align: center;
        }
    }
    @media(max-width:600px){
        .right-side-container{
            width: 80%;
        }
        .info-panel{
            flex-direction: column;
            row-gap: 25px;
        }
        .current-info-container, .info-panel{
            width: 80%;
        }
        .usernumber, .user-number-powerball{
            width: 40px;
            height: 40px;
        }
        .user-numbers{
            column-gap: 20px;
        }
        .user-numbers-heading{
            text-align: center;
        }
        .bank{
            text-align: center;
        }
        .add-money-container{
            display: flex;
            margin: 15px;
        }
        .add-money{
            width: 50%;
            height: 25px;
            align-self: center;
        }
        .play-button-container{
            margin: 40px 20px;
            gap: 20px;
        }
        .current-game-info-heading{
            margin: 0px;
        }
        .info-screen{
            text-align: center;
        }
        .numcard{
            width: 40px;
            column-gap: 15px;
        }
    }
}