body, html {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}
h1{
    text-align: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.user-numbers{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}